<div class="layout__wrapper">
  <header class="header">
    <img
      class="logo"
      ngSrc="/images/logo.svg"
      alt="logo"
      width="117"
      height="29"
      routerLink="/private" />
    <nav class="navigation">
      @for (menuItem of menuItems; track menuItem.id) {
        <app-nav-button
          [title]="menuItem.title"
          [iconUrl]="menuItem.iconUrl"
          [iconUrlActive]="menuItem.iconUrlActive"
          [routerLink]="menuItem.link"
          routerLinkActive="active"></app-nav-button>
      }
    </nav>
  </header>
  <div class="layout__content">
    <div class="layout__sidebar">
      <div class="layout__genres">
        @for (genre of genres; track genre.id) {
          <div class="layout__genre">
            <input
              class="layout__genre--radio"
              type="radio"
              [id]="genre.id"
              name="genre"
              [value]="genre.slug" />
            <label class="layout__genre--label" [for]="genre.id">{{
              genre.name
            }}</label>
          </div>
        }
      </div>
    </div>
    <div class="layout__main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
