:host {
  width: 100%;
}

.layout__wrapper {
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 2rem
}

.logo {
  cursor: pointer;
}

.navigation {
  display: flex;
  gap: 3.5rem;
}

.layout__content {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.layout__sidebar {
  width: 100%;
  min-width: 16.125rem;
  max-width: 16.125rem;
  padding: 0.5rem 1rem;
}

.layout__main {
  width: 100%;
  padding: 0.5rem 1rem;
}

.layout__genres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.layout__genre {
  margin-bottom: 0.5rem;
}

.layout__genre--radio {
  width: 1.5rem;
  height: 1.5rem;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  border: 2px solid rgba(118, 118, 128, 0.3);
  background-color: rgba(118, 118, 128, 0.12);
  cursor: pointer;

  &:checked {
    background-color: rgba(255, 200, 55, 1);
    border: 0.25rem solid rgb(37, 37, 37);
    box-shadow: 0 0 0 0.125rem rgba(118, 118, 128);
  }
}

.layout__genre--label {
  margin-left: 0.5rem;
}