<div class="form__control">
  @if (prefixIconUrl()) {
    <img
      class="form__icon"
      [ngSrc]="prefixIconUrl()!"
      [alt]="currentType()"
      width="24"
      height="24" />
  }
  <input
    class="form__input"
    [type]="currentType()"
    [value]="currentValue()"
    [placeholder]="placeholder()"
    [disabled]="isDisabled()"
    (input)="onInput($event)"
    (blur)="onBlur()" />
  @if (suffixIconUrl()) {
    <img
      class="form__icon"
      [ngSrc]="suffixIconUrl()!"
      alt="currentType()"
      width="24"
      height="24" />
  }
  @if (showButton()) {
    <button type="button" class="form__button" (click)="onButtonToggleClick()">
      <img
        class="form__button--icon"
        [ngSrc]="buttonIcon"
        alt="currentType()"
        width="16"
        height="16" />
    </button>
  }
</div>
