<div class="form__control">
  @if (iconUrl) {
    <img
      class="form__icon"
      [ngSrc]="iconUrl"
      [alt]="type"
      width="24"
      height="24" />
  }
  <input
    class="form__input"
    [type]="type"
    [(ngModel)]="value"
    [placeholder]="placeholder"
    [disabled]="disabled"
    (input)="onChangeValue($event.target.value)" />
  @if (showButton) {
    <button type="button" class="form__button" (click)="onButtonToggleClick()">
      <img
        class="form__button--icon"
        [ngSrc]="buttonIcon"
        [alt]="type"
        width="16"
        height="16" />
    </button>
  }
</div>
