<div class="form__wrapper">
  <form class="form__container">
    <img class="form__logo" src="/images/logo.svg" alt="logo" />
    <h1 class="form__heading">Вход</h1>
    <div class="form__controls">
      <app-input
        class="form__input"
        type="email"
        iconUrl="/icons/user.svg"
        placeholder="Email" />
      <app-input
        class="form__input"
        type="password"
        [showButton]="true"
        iconUrl="/icons/lock.svg"
        placeholder="Пароль" />
    </div>
    <app-button
      class="form__button"
      title="Войти"
      (controlSubmit)="onSubmit()" />
  </form>
</div>
