.nav__button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: #51535D;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1;
  gap: 0.5rem;
  cursor: pointer;
}

.nav__button:hover {
  opacity: 0.8;
}

:host(.active) .nav__button {
  color: #fff;
}